body {
    width: 100%;
    height: 100%;
    margin: 0; 
}

.outerHeader {
    border: solid black;
    border-radius: 4px;
    height: 200px;
    background-color: aqua;
    margin: 0 auto; 
    padding: 10px;
    position: relative; 
    z-index: 0; 
}
.homeScreen{
    width: 100%;
    height: 100%;
}
.chartScreen {
    border: solid rgb(235, 23, 23);
    border-radius: 4px;
    width: 80%;
    height: 650px; 
    margin-left: 100px;
    margin-right: 100px;
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: blue;
    
}
.contactList{
    width: 400px;
    height: inherit;
    border: solid rgb(235, 23, 23);
    border-radius: 4px;
    background-color: white;
}
 .chartHeader{
    height: 70px;
    width: inherit;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;

 }
 .contactImage{
    padding: 20px;
    width: 40px;
 }
 .contactHeader{
  
    background-color: white;
    display: flex;
    justify-content: space-between;
 }
 .chartIcone{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .search{
    height: 70px;
    width: inherit;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
 }
 .searchOuter{
    align-items: center;
    height: 50px;
    justify-content: space-between;
    width: inherit;
    border: 2px solid blue;
    width: inherit;
    display: flex;
    justify-content: center;
    
 }
 .search{
    height: 20px;
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    width: 80%;
    padding: 10px; 
 }
 .searchs{

width: 80%;
 }
